table{
    border-collapse: collapse;
    margin-top: 50px;
    padding: 30px;
    border: 10px groove rgb(211, 89, 156);
    background-color: rgb(157, 203, 59);
    border-spacing: 15px;
    margin-left: 30px;
}
td{
    padding: 30px;
    border: 5px solid rgb(211, 89, 156);
    border-radius: 38%;
    color: rgb(127, 24, 88);
}
caption{
    font-size: 2em;
    background-color: rgb(161, 225, 108);
    color: rgb(127, 24, 88);
}
#holidays{
    border-color: rgb(159, 255, 127);
}
#holidays td{
    border-color: rgb(144, 255, 127);
}
#galery img{
    width: 22%; height: 200px;
    object-fit: cover;
    margin-left: 5%;
    margin-right: 1%;
    min-width: 200px;
}
#galery h1{
    text-align: center;
    background-color: rgb(220, 255, 145);
    color: rgb(238, 89, 206);
    width: fit-content;
    margin: 20px auto;
    padding: 5px 19px;
}
#galery div{
    text-align: center;
}
#film video{
    width: 100%;
}
#film{
    margin-top: 30px;
}
#l1{
    position: absolute;
    top: 50px;
    left: 20%;
    animation: fall 7s infinite;
}
#l2{
    position: absolute;
    top: 50px;
    left: 50%;
    animation: fall 8s infinite;
}
#l3{
    position: absolute;
    top: 50px;
    left: 75%;
    animation: fall 9s infinite;
}
@keyframes fall {
    from{transform: translateY(0) rotate(0); opacity: 1;}
    to{transform: translateY(350vh)rotate(360deg); opacity: 0;}
}